numpy
requests
PyYAML
Sphinx
sphinxcontrib-bibtex
sphinxcontrib-autoyaml
git+https://github.com/dahe-cvl/vhh_sbd#egg=vhh_sbd
git+https://github.com/dahe-cvl/vhh_stc#egg=vhh_stc
git+https://github.com/dahe-cvl/vhh_cmc#egg=vhh_cmc
